Repository GoogleCloudPlatform/document-ai-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/ml-apis, @holtskinner, @mservidio, @dojowahi, @HSbedi87, @kolban-google, @PicardParis, @ghchinoy, @ffeldhaus, @jiya-zhang, @yoshi-approver

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

/apps-script-google-drive @holtskinner @GoogleCloudPlatform/ml-apis
/bq-connector @mservidio @GoogleCloudPlatform/ml-apis
/sql-pdf-python @dojowahi @GoogleCloudPlatform/ml-apis
/document_ai_warehouse/document_ai_warehouse_processing_python @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-json-explorer @kolban-google @GoogleCloudPlatform/ml-apis
/web-app-pix2info-python @PicardParis @holtskinner @GoogleCloudPlatform/ml-apis
/cx-content-moderation @ghchinoy @GoogleCloudPlatform/ml-apis
/form-parser-cde @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-processing-workflows @ffeldhaus @GoogleCloudPlatform/ml-apis

# Community owners
/community/identity-form-autofiller-python @PicardParis @GoogleCloudPlatform/ml-apis
/community/expense-parser-python @jiya-zhang @GoogleCloudPlatform/ml-apis

# Auto-Approve
**/requirements.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/requirements-test.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package-lock.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/pom.xml @yoshi-approver @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v16.0.2 (#527)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-auth to v2.18.1 (#530)
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-eslint monorepo to v16.0.2
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v16.0.2
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency tslib to v2.5.1
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency tslib to v2.5.1 (#531)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-eslint monorepo to v16.0.2 (#528)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v16.0.2 (#529)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.13
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.123.0
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

ran go cleanup
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.123.0 (#533)
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.13 (#532)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

Update README.md
  document-search/README.md
Owners: @GoogleCloudPlatform/ml-apis

Update README.md (#534)
  document-search/README.md
Owners: @GoogleCloudPlatform/ml-apis

fix(deps): update dependency tslib to v2.5.2
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency tslib to v2.5.2 (#535)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency eslint to v8.41.0
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask-restful to v0.3.10
  web-app-demo/Backend/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.14
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency eslint to v8.41.0 (#536)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask-restful to v0.3.10 (#537)
  web-app-demo/Backend/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.14 (#538)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance (#539)
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.7
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.7 (#540)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.124.0
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.123.0
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

ran go cleanup
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore: update go.sum
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.124.0 (#541)
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/webpack-env to v1.18.1
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/webpack-env to v1.18.1 (#543)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v16.0.3
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v16.0.3 (#544)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v16.0.3
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-auth to v2.19.0
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v16.0.3 (#546)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-auth to v2.19.0 (#549)
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis
