Repository GoogleCloudPlatform/document-ai-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/ml-apis, @holtskinner, @galz10, @mservidio, @dojowahi, @HSbedi87, @kolban-google, @PicardParis, @jiya-zhang

# Update Linter
  .github/CONTRIBUTING.md
  .github/super-linter.env
  .github/workflows/linter.yaml
Owners: @GoogleCloudPlatform/ml-apis

Test commit for linter errors
  tax-processing-pipeline-python/tax_pipeline.py
Owners: @holtskinner

🦉 Updates from OwlBot post-processor
  bq-connector/docai_bq_connector/__init__.py
  bq-connector/docai_bq_connector/connector/BqDocumentMapper.py
  bq-connector/docai_bq_connector/connector/BqMetadataMapper.py
  bq-connector/docai_bq_connector/connector/DocAIBQConnector.py
  bq-connector/docai_bq_connector/doc_ai_processing/DocumentField.py
  bq-connector/docai_bq_connector/doc_ai_processing/DocumentState.py
  bq-connector/docai_bq_connector/doc_ai_processing/Processor.py
  bq-connector/docai_bq_connector/helper/gcs_util.py
  bq-connector/main.py
  document_ai_warehouse_processing_python/document_ai_utils.py
  document_ai_warehouse_processing_python/document_warehouse_utils.py
Owners: @mservidio, @HSbedi87

Undo Test Commit for linter errors
  tax-processing-pipeline-python/tax_pipeline.py
Owners: @holtskinner

Update dependency @testing-library/react to v13
  document-json-explorer/package.json
Owners: @kolban-google

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

# @matthewayne is the default owner for PDF splitter sample changes
/pdf-splitter-python/ @holtskinner
/web-app-demo/ @galz10
/extract-languages @holtskinner
/extract-tables @holtskinner
/filter-hitl-language @holtskinner
/fraud-detection-python @holtskinner
/tax-processing-pipeline-python @holtskinner
/bq-connector @mservidio
/sql-pdf-python @dojowahi
/document_ai_warehouse_processing_python @HSbedi87
/document-json-explorer @kolban-google

# Community owners
/community/identity-form-autofiller-python @PicardParis
/community/codelabs/docai-form-parser @holtskinner
/community/codelabs/docai-ocr @holtskinner
/community/codelabs/docai-specialized-processors @holtskinner
/community/expense-parser-python @jiya-zhang
