Repository GoogleCloudPlatform/document-ai-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/ml-apis, @holtskinner, @mservidio, @dojowahi, @HSbedi87, @kolban-google, @PicardParis, @ghchinoy, @ffeldhaus, @jiya-zhang, @yoshi-approver

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

/apps-script-google-drive @holtskinner @GoogleCloudPlatform/ml-apis
/bq-connector @mservidio @GoogleCloudPlatform/ml-apis
/sql-pdf-python @dojowahi @GoogleCloudPlatform/ml-apis
/document_ai_warehouse/document_ai_warehouse_processing_python @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-json-explorer @kolban-google @GoogleCloudPlatform/ml-apis
/web-app-pix2info-python @PicardParis @holtskinner @GoogleCloudPlatform/ml-apis
/cx-content-moderation @ghchinoy @GoogleCloudPlatform/ml-apis
/form-parser-cde @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-processing-workflows @ffeldhaus @GoogleCloudPlatform/ml-apis

# Community owners
/community/identity-form-autofiller-python @PicardParis @GoogleCloudPlatform/ml-apis
/community/expense-parser-python @jiya-zhang @GoogleCloudPlatform/ml-apis

# Auto-Approve
**/requirements.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/requirements-test.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package-lock.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/pom.xml @yoshi-approver @GoogleCloudPlatform/ml-apis

Revert `@angular/compiler-cli` to 16.0.4 to avoid version conflict
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency jasmine-core to v5 (#586)
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore: Update owlbot to run `format` instead of `blacken` (Includes isort)
  .gitignore
  owlbot.py
Owners: @GoogleCloudPlatform/ml-apis

Update Owlbot lock and gitignore
  .github/.OwlBot.lock.yaml
  .gitignore
Owners: @GoogleCloudPlatform/ml-apis

🦉 Updates from OwlBot post-processor
  document-search/main.py
  form-parser-to-cde/Form_parser_to_CDE.ipynb
  noxfile.py
  pdf-splitter-python/main_test.py
  web-app-pix2info-python/src/backend/docai.py
  web-app-pix2info-python/src/backend/etag.py
  web-app-pix2info-python/src/backend/options.py
  web-app-pix2info-python/src/backend/processors.py
  web-app-pix2info-python/src/backend/render.py
  web-app-pix2info-python/src/main.py
Owners: @GoogleCloudPlatform/ml-apis, @PicardParis, @holtskinner

Update Noxfile lint rules
  .github/workflows/linter.yaml
  .gitignore
  noxfile.py
Owners: @GoogleCloudPlatform/ml-apis

Add local file exception for main
  noxfile.py
  owlbot.py
Owners: @GoogleCloudPlatform/ml-apis

🦉 Updates from OwlBot post-processor
  pdf-splitter-python/main_test.py
Owners: @GoogleCloudPlatform/ml-apis

🦉 Updates from OwlBot post-processor
  pdf-splitter-python/main_test.py
Owners: @GoogleCloudPlatform/ml-apis

chore: Ran no-implicit-optional
  bq-connector/docai_bq_connector/connector/BqMetadataMapper.py
  community/codelabs/docai-ocr/batch_processing.py
  community/codelabs/docai-ocr/batch_processing_toolbox.py
  document-search/ekg_utils.py
  document_ai_warehouse/document_ai_warehouse_processing_python/document_warehouse_utils.py
  ekg-demo/ekg_utils.py
Owners: @mservidio, @GoogleCloudPlatform/ml-apis, @HSbedi87

fix: Add lint ignore for unavoidable long lines
  document_ai_warehouse/document_ai_warehouse_processing_python/document_warehouse_utils.py
  ekg-demo/ekg_utils.py
Owners: @HSbedi87, @GoogleCloudPlatform/ml-apis

chore: Update owlbot to run `format` instead of `blacken` (#587)
  .github/.OwlBot.lock.yaml
  .github/workflows/linter.yaml
  .gitignore
  bq-connector/docai_bq_connector/connector/BqMetadataMapper.py
  community/codelabs/docai-ocr/batch_processing.py
  community/codelabs/docai-ocr/batch_processing_toolbox.py
  document-search/ekg_utils.py
  document-search/main.py
  document_ai_warehouse/document_ai_warehouse_processing_python/document_warehouse_utils.py
  ekg-demo/ekg_utils.py
  form-parser-to-cde/Form_parser_to_CDE.ipynb
  noxfile.py
  owlbot.py
  web-app-pix2info-python/src/backend/docai.py
  web-app-pix2info-python/src/backend/etag.py
  web-app-pix2info-python/src/backend/options.py
  web-app-pix2info-python/src/backend/processors.py
  web-app-pix2info-python/src/backend/render.py
  web-app-pix2info-python/src/main.py
Owners: @GoogleCloudPlatform/ml-apis, @mservidio, @HSbedi87, @PicardParis, @holtskinner

Update form_parser.py
  community/codelabs/docai-form-parser/form_parser.py
Owners: @GoogleCloudPlatform/ml-apis

chore: Add Github action step to allow linting of notebooks
  .github/workflows/linter.yaml
Owners: @GoogleCloudPlatform/ml-apis

fix: Ran Formatting and Updated Widget/Custom UI based on Product Updates
  document-search/.dockerignore
  document-search/README.md
  document-search/consts.py
  document-search/ekg_utils.py
  document-search/genappbuilder_utils.py
  document-search/img/configId.png
  document-search/main.py
  document-search/requirements.txt
  document-search/static/ekg.js
  document-search/static/index.css
  document-search/static/index.js
  document-search/static/search.js
  document-search/templates/ekg.html
  document-search/templates/index.html
  document-search/templates/search.html
Owners: @GoogleCloudPlatform/ml-apis, @yoshi-approver

Add lint ignore
  .github/linters/.htmlhintrc
  .github/linters/.textlintrc
Owners: @GoogleCloudPlatform/ml-apis

Add license headers
  document-search/static/ekg.js
  document-search/static/index.css
  document-search/static/index.js
  document-search/static/search.js
Owners: @GoogleCloudPlatform/ml-apis

Fix textlint exclude
  .github/linters/.textlintrc
Owners: @GoogleCloudPlatform/ml-apis

Add validate all codebase
  .github/workflows/linter.yaml
Owners: @GoogleCloudPlatform/ml-apis

Remove natural language linting
  .github/linters/.textlintrc
  .github/workflows/linter.yaml
Owners: @GoogleCloudPlatform/ml-apis

fix: Ran Formatting and Updated based on Product Changes (#590)
  .github/linters/.htmlhintrc
  .github/workflows/linter.yaml
  document-search/.dockerignore
  document-search/README.md
  document-search/consts.py
  document-search/ekg_utils.py
  document-search/genappbuilder_utils.py
  document-search/img/configId.png
  document-search/main.py
  document-search/requirements.txt
  document-search/static/ekg.js
  document-search/static/index.css
  document-search/static/index.js
  document-search/static/search.js
  document-search/templates/ekg.html
  document-search/templates/index.html
  document-search/templates/search.html
Owners: @GoogleCloudPlatform/ml-apis, @yoshi-approver

fix: GAB - Fixed Hyperlink issue
  document-search/templates/search.html
Owners: @GoogleCloudPlatform/ml-apis

Update GAB Demo to allow more flexibility in search engines
  document-search/README.md
  document-search/consts.py
  document-search/main.py
  document-search/templates/index.html
  document-search/templates/search.html
Owners: @GoogleCloudPlatform/ml-apis

Update broken GAB links
  document-search/templates/ekg.html
  document-search/templates/index.html
  document-search/templates/search.html
Owners: @GoogleCloudPlatform/ml-apis

Update broken GAB links (#591)
  document-search/templates/ekg.html
  document-search/templates/index.html
  document-search/templates/search.html
Owners: @GoogleCloudPlatform/ml-apis

chore: Move Enterprise Search Demo to Generative AI Repository
  document-search/.dockerignore
  document-search/Dockerfile
  document-search/README.md
  document-search/consts.py
  document-search/ekg_utils.py
  document-search/genappbuilder_utils.py
  document-search/img/configId.png
  document-search/main.py
  document-search/requirements.txt
  document-search/static/ekg-logo.svg
  document-search/static/ekg.js
  document-search/static/favicon.ico
  document-search/static/gen-app-builder-logo.svg
  document-search/static/index.css
  document-search/static/index.js
  document-search/static/search.js
  document-search/templates/ekg.html
  document-search/templates/index.html
  document-search/templates/search.html
Owners: @GoogleCloudPlatform/ml-apis, @yoshi-approver

Update package.json files
  document-json-explorer/package.json
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

Ran google-java-format
  document_ai_warehouse/document-ai-warehouse-java-samples/src/main/java/org/example/CreateDocument.java
  document_ai_warehouse/document-ai-warehouse-java-samples/src/main/java/org/example/CreateDocumentDocAi.java
  document_ai_warehouse/document-ai-warehouse-java-samples/src/main/java/org/example/CreateSchema.java
  document_ai_warehouse/document-ai-warehouse-java-samples/src/main/java/org/example/DeleteDocument.java
  document_ai_warehouse/document-ai-warehouse-java-samples/src/main/java/org/example/ListSchema.java
  document_ai_warehouse/document-ai-warehouse-java-samples/src/main/java/org/example/SearchDocuments.java
Owners: @GoogleCloudPlatform/ml-apis

Fixed Dockerfile hadolint error
  web-app-demo/Backend/Dockerfile
Owners: @GoogleCloudPlatform/ml-apis

Fix type ignore lint error
  community/codelabs/docai-form-parser/form_parser.py
  community/codelabs/docai-form-parser/table_parsing.py
  community/codelabs/docai-ocr/online_processing.py
  community/codelabs/docai-specialized-processors/classification.py
  community/codelabs/docai-specialized-processors/extraction.py
  extract-tables/main.py
  fraud-detection-python/cloud-functions/geocode-addresses/main.py
  fraud-detection-python/cloud-functions/process-invoices/main.py
  tax-processing-pipeline-python/main.py
  tax-processing-pipeline-python/tax_pipeline.py
Owners: @GoogleCloudPlatform/ml-apis

Update Licenses/Copyright lines
  document-json-explorer/src/About.js
  document-json-explorer/src/App.js
  document-json-explorer/src/Details.js
  document-json-explorer/src/DocAITopLevel.js
  document-json-explorer/src/DocAIView.js
  document-json-explorer/src/DrawDocument.js
  document-json-explorer/src/Entity.js
  document-json-explorer/src/EntityHilight.js
  document-json-explorer/src/EntityInfoDialog.js
  document-json-explorer/src/EntityList.js
  document-json-explorer/src/ErrorDialog.js
  document-json-explorer/src/JSONPage.js
  document-json-explorer/src/NoData.js
  document-json-explorer/src/PageSelector.js
  document-json-explorer/src/index.js
  document-json-explorer/src/utils.js
  ekg-demo/static/index.js
Owners: @kolban-google, @GoogleCloudPlatform/ml-apis

Add additional License Headers
  document-json-explorer/src/App.test.js
  document-json-explorer/src/reportWebVitals.js
  document-json-explorer/src/setupTests.js
Owners: @kolban-google, @GoogleCloudPlatform/ml-apis

Fix flake8 errors
  play-reader/README.md
  play-reader/play_reader.py
Owners: @GoogleCloudPlatform/ml-apis

Update linter.yaml
  .github/workflows/linter.yaml
Owners: @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask-cors to v4
  web-app-demo/Backend/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask-cors to v4 (#592)
  web-app-demo/Backend/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis
