Repository GoogleCloudPlatform/document-ai-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/ml-apis, @holtskinner, @mservidio, @dojowahi, @HSbedi87, @kolban-google, @PicardParis, @ghchinoy, @ffeldhaus, @jiya-zhang, @yoshi-approver

Attempt on formatting
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
  cx-content-moderation/owlbot.py
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

Try editing owlbot.py with gofmt
  cx-content-moderation/.OwlBot.lock.yaml
  cx-content-moderation/.OwlBot.yaml
  cx-content-moderation/owlbot.py
  document_ai_warehouse/document-ai-warehouse-java-samples/.OwlBot.lock.yaml
  document_ai_warehouse/document-ai-warehouse-java-samples/.OwlBot.yaml
  owlbot.py
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

Run goimports
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.121.0 (#489)
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.4
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.4 (#496)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency eslint to v8.40.0
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency eslint to v8.40.0 (#499)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.5
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.5 (#498)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency pylint to v2.17.4
  web-app-demo/Backend/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance (#501)
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency pylint to v2.17.4 (#500)
  web-app-demo/Backend/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix: Update codelab OCR Samples
  community/codelabs/docai-ocr/batch_processing_directory.py
  community/codelabs/docai-ocr/batch_processing_toolbox.py
  community/codelabs/docai-ocr/online_processing.py
Owners: @GoogleCloudPlatform/ml-apis

# Add EKG to Document Search App - Added Nav Bar, consolidated some pages
  document-search/README.md
  document-search/consts.py
  document-search/ekg_utils.py
  document-search/main.py
  document-search/requirements.txt
  document-search/static/ekg-logo.svg
  document-search/static/ekg.js
  document-search/static/index.css
  document-search/static/index.js
  document-search/templates/ekg.html
  document-search/templates/finance.html
  document-search/templates/index.html
Owners: @GoogleCloudPlatform/ml-apis, @yoshi-approver

# Add Custom UI Search for Gen App Builder
  document-search/README.md
  document-search/genappbuilder_utils.py
  document-search/main.py
  document-search/static/ekg.js
  document-search/static/index.css
  document-search/static/search.js
  document-search/templates/search.html
Owners: @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.6
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.5
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update module cloud.google.com/go/documentai to v1.18.1
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.6 (#502)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.5 (#503)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update module cloud.google.com/go/documentai to v1.18.1
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

Add go cleanup to owlbot
  owlbot.py
Owners: @GoogleCloudPlatform/ml-apis

Ran go cleanup
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

fix(deps): update module cloud.google.com/go/documentai to v1.18.1 (#504)
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
  owlbot.py
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

Update owlbot.py
  owlbot.py
Owners: @GoogleCloudPlatform/ml-apis

Update web-app-demo to latest node version
  .github/workflows/web-app-demo.yaml
Owners: @GoogleCloudPlatform/ml-apis

Update web-app-demo to latest node version (#506)
  .github/workflows/web-app-demo.yaml
Owners: @GoogleCloudPlatform/ml-apis

chore(deps): update angular-eslint monorepo to v16
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v16
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore: Update node dependencies
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

Update typescript ecmascript version
  web-app-demo/Frontend/tsconfig.json
Owners: @GoogleCloudPlatform/ml-apis

chore: Update node dependencies (#507)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
  web-app-demo/Frontend/tsconfig.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore: Update README for Enterprise Search Demo
  document-search/README.md
Owners: @GoogleCloudPlatform/ml-apis

fix lint errors
  document-search/README.md
  document-search/requirements.txt
Owners: @GoogleCloudPlatform/ml-apis, @yoshi-approver

chore: Update README for Enterprise Search Demo (#508)
  document-search/README.md
  document-search/requirements.txt
Owners: @GoogleCloudPlatform/ml-apis, @yoshi-approver

docs: Add links to pages in Enterprise Search README
  document-search/README.md
Owners: @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.122.0
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

Update go sum
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

/apps-script-google-drive @holtskinner @GoogleCloudPlatform/ml-apis
/bq-connector @mservidio @GoogleCloudPlatform/ml-apis
/sql-pdf-python @dojowahi @GoogleCloudPlatform/ml-apis
/document_ai_warehouse/document_ai_warehouse_processing_python @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-json-explorer @kolban-google @GoogleCloudPlatform/ml-apis
/web-app-pix2info-python @PicardParis @holtskinner @GoogleCloudPlatform/ml-apis
/cx-content-moderation @ghchinoy @GoogleCloudPlatform/ml-apis
/form-parser-cde @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-processing-workflows @ffeldhaus @GoogleCloudPlatform/ml-apis

# Community owners
/community/identity-form-autofiller-python @PicardParis @GoogleCloudPlatform/ml-apis
/community/expense-parser-python @jiya-zhang @GoogleCloudPlatform/ml-apis

# Auto-Approve
**/requirements.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/requirements-test.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package-lock.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/pom.xml @yoshi-approver @GoogleCloudPlatform/ml-apis
