Repository GoogleCloudPlatform/document-ai-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/ml-apis, @holtskinner, @mservidio, @dojowahi, @HSbedi87, @kolban-google, @PicardParis, @ghchinoy, @ffeldhaus, @jiya-zhang, @yoshi-approver

fix(deps): update module google.golang.org/api to v0.122.0 (#509)
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.7
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.7 (#510)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v16.0.1
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v16.0.1 (#511)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-auth to v2.18.0
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-auth to v2.18.0 (#512)
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v16.0.1
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v16.0.1 (#513)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v16.0.1
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v16.0.1 (#514)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-contentwarehouse-v1 to v0.13.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-document-ai-v1 to v2.21.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-document-ai-v1 to v2.21.0 (#516)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-contentwarehouse-v1 to v0.13.0 (#515)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-document-ai to v2.21.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-document-ai to v2.21.0 (#518)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-contentwarehouse to v0.13.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-contentwarehouse to v0.13.0 (#517)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.8
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.8 (#519)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.9
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency jasmine-core to v5
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency jasmine-core to v5 (#521)
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.9 (#520)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance (#522)
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.10
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

Revert jasmine-core to 4.6.0
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.10 (#524)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.6
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.6 (#523)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

Fixed lint errors
  document-processing-workflows/README.md
  document-processing-workflows/examples/terraform.tfvars
  document-processing-workflows/main.tf
  document-processing-workflows/src/functions/parse-results/main.py
  document-processing-workflows/variables.tf
Owners: @ffeldhaus, @GoogleCloudPlatform/ml-apis

Addressed further lint errors
  document-processing-workflows/main.tf
  document-processing-workflows/src/functions/parse-results/main.py
  document-processing-workflows/src/functions/split-document/main.py
Owners: @ffeldhaus, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.11
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.11 (#525)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.12
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.12 (#526)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v16.0.2
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-auth to v2.18.1
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

/apps-script-google-drive @holtskinner @GoogleCloudPlatform/ml-apis
/bq-connector @mservidio @GoogleCloudPlatform/ml-apis
/sql-pdf-python @dojowahi @GoogleCloudPlatform/ml-apis
/document_ai_warehouse/document_ai_warehouse_processing_python @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-json-explorer @kolban-google @GoogleCloudPlatform/ml-apis
/web-app-pix2info-python @PicardParis @holtskinner @GoogleCloudPlatform/ml-apis
/cx-content-moderation @ghchinoy @GoogleCloudPlatform/ml-apis
/form-parser-cde @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-processing-workflows @ffeldhaus @GoogleCloudPlatform/ml-apis

# Community owners
/community/identity-form-autofiller-python @PicardParis @GoogleCloudPlatform/ml-apis
/community/expense-parser-python @jiya-zhang @GoogleCloudPlatform/ml-apis

# Auto-Approve
**/requirements.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/requirements-test.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package-lock.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/pom.xml @yoshi-approver @GoogleCloudPlatform/ml-apis
