Repository GoogleCloudPlatform/document-ai-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/ml-apis, @holtskinner, @mservidio, @dojowahi, @HSbedi87, @kolban-google, @PicardParis, @ghchinoy, @ffeldhaus, @jiya-zhang, @yoshi-approver

chore(deps): update dependency @types/jasmine to v4.3.2
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/jasmine to v4.3.2 (#547)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.15
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.15 (#548)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v16.0.2
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v16.0.2 (#545)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

Update auto-approve.yml
  .github/auto-approve.yml
Owners: @GoogleCloudPlatform/ml-apis

Update renovate.json
  renovate.json
Owners: @GoogleCloudPlatform/ml-apis

Create Dockers
  .github/workflows/Dockers
Owners: @GoogleCloudPlatform/ml-apis

Create di.y
  .github/workflows/di.y
Owners: @GoogleCloudPlatform/ml-apis

Create doi.iy
  .github/workflows/doi.iy
Owners: @GoogleCloudPlatform/ml-apis

Create dockerimage
  .github/workflows/dockerimage
Owners: @GoogleCloudPlatform/ml-apis

Create IMG
  .github/workflows/IMG
Owners: @GoogleCloudPlatform/ml-apis

Create d.yml
  .github/workflows/d.yml
Owners: @GoogleCloudPlatform/ml-apis

Create YAML
  .github/workflows/YAML
Owners: @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-document-ai-v1 to v2.22.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-document-ai-v1 to v2.22.0 (#553)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-contentwarehouse-v1 to v0.14.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-contentwarehouse-v1 to v0.14.0 (#552)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-document-ai to v2.22.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-document-ai to v2.22.0 (#555)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-contentwarehouse to v0.14.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-contentwarehouse to v0.14.0 (#554)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance (#556)
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-eslint monorepo to v16.0.3
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.16
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-eslint monorepo to v16.0.3 (#557)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.16 (#551)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.8
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.8 (#558)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.125.0
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

fix(deps): update module cloud.google.com/go/documentai to v1.19.0
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

fix(deps): update module cloud.google.com/go/documentai to v1.19.0 (#560)
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore: Updates to renovate.json
  renovate.json
Owners: @GoogleCloudPlatform/ml-apis

chore: Ran `go get-u`
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

Ran go cleanup
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore: Ran `go get-u` (#561)
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v16.0.4
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-auth to v2.19.1
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

/apps-script-google-drive @holtskinner @GoogleCloudPlatform/ml-apis
/bq-connector @mservidio @GoogleCloudPlatform/ml-apis
/sql-pdf-python @dojowahi @GoogleCloudPlatform/ml-apis
/document_ai_warehouse/document_ai_warehouse_processing_python @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-json-explorer @kolban-google @GoogleCloudPlatform/ml-apis
/web-app-pix2info-python @PicardParis @holtskinner @GoogleCloudPlatform/ml-apis
/cx-content-moderation @ghchinoy @GoogleCloudPlatform/ml-apis
/form-parser-cde @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-processing-workflows @ffeldhaus @GoogleCloudPlatform/ml-apis

# Community owners
/community/identity-form-autofiller-python @PicardParis @GoogleCloudPlatform/ml-apis
/community/expense-parser-python @jiya-zhang @GoogleCloudPlatform/ml-apis

# Auto-Approve
**/requirements.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/requirements-test.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package-lock.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/pom.xml @yoshi-approver @GoogleCloudPlatform/ml-apis
