Repository GoogleCloudPlatform/document-ai-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/ml-apis, @holtskinner, @mservidio, @dojowahi, @HSbedi87, @kolban-google, @PicardParis, @ghchinoy, @ffeldhaus, @jiya-zhang, @yoshi-approver

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

/apps-script-google-drive @holtskinner @GoogleCloudPlatform/ml-apis
/bq-connector @mservidio @GoogleCloudPlatform/ml-apis
/sql-pdf-python @dojowahi @GoogleCloudPlatform/ml-apis
/document_ai_warehouse/document_ai_warehouse_processing_python @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-json-explorer @kolban-google @GoogleCloudPlatform/ml-apis
/web-app-pix2info-python @PicardParis @holtskinner @GoogleCloudPlatform/ml-apis
/cx-content-moderation @ghchinoy @GoogleCloudPlatform/ml-apis
/form-parser-cde @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-processing-workflows @ffeldhaus @GoogleCloudPlatform/ml-apis

# Community owners
/community/identity-form-autofiller-python @PicardParis @GoogleCloudPlatform/ml-apis
/community/expense-parser-python @jiya-zhang @GoogleCloudPlatform/ml-apis

# Auto-Approve
**/requirements.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/requirements-test.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package-lock.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/pom.xml @yoshi-approver @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-auth to v2.19.1 (#564)
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v16.0.4 (#563)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v16.0.3
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v16.0.3 (#566)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v16.0.4
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v16.0.4 (#565)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-cloud-bigquery to v3.11.0
  bq-connector/docai_bq_connector/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-cloud-bigquery to v3.11.0 (#567)
  bq-connector/docai_bq_connector/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency tslib to v2.5.3
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency eslint to v8.42.0
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency tslib to v2.5.3 (#569)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency eslint to v8.42.0 (#570)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-contentwarehouse-v1 to v0.15.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-contentwarehouse-v1 to v0.15.0 (#576)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-document-ai-v1 to v2.23.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-document-ai-v1 to v2.23.0 (#579)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-contentwarehouse to v0.15.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-document-ai to v2.23.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-contentwarehouse to v0.15.0 (#580)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-document-ai to v2.23.0 (#581)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.126.0
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.126.0 (#582)
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.9
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v16.0.4
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency typescript to v5.1.3
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency typescript to v5.1.3 (#568)
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.9 (#573)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v16.0.4 (#575)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency karma-jasmine-html-reporter to v2.1.0
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency karma-jasmine-html-reporter to v2.1.0 (#572)
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance (#571)
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v16.0.5
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v16.0.5 (#578)
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.17
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.17 (#584)
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @angular/cli to v16.0.5
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore: update dependency update schedule
  renovate.json
Owners: @GoogleCloudPlatform/ml-apis

chore: update dependency update schedule (#585)
  renovate.json
Owners: @GoogleCloudPlatform/ml-apis

chore(deps): update dependency jasmine-core to v5
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis
