Repository GoogleCloudPlatform/document-ai-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/ml-apis, @holtskinner, @mservidio, @dojowahi, @HSbedi87, @kolban-google, @PicardParis, @ghchinoy, @ffeldhaus, @jiya-zhang, @yoshi-approver

Update go.sum
  .github/workflows/go.yaml
  cx-content-moderation/go.sum
Owners: @GoogleCloudPlatform/ml-apis, @ghchinoy

fix(deps): update module google.golang.org/api to v0.120.0 (#474)
  .github/workflows/go.yaml
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @GoogleCloudPlatform/ml-apis, @ghchinoy

chore(deps): update dependency @types/node to v18.16.1
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask to v2.3.1
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask to v2.3.1 (#476)
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.1 (#475)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-contentwarehouse-v1 to v0.12.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-contentwarehouse-v1 to v0.12.0 (#480)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-contentwarehouse to v0.12.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-contentwarehouse to v0.12.0 (#482)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-document-ai to v2.20.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.cloud:google-cloud-document-ai to v2.20.0 (#483)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-document-ai-v1 to v2.20.0
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency com.google.api.grpc:proto-google-cloud-document-ai-v1 to v2.20.0 (#481)
  document_ai_warehouse/document-ai-warehouse-java-samples/pom.xml
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v15.2.7
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.3
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency rxjs to v7.8.1
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update dependency rxjs to v7.8.1 (#479)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.3 (#478)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v15.2.7 (#477)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask to v2.3.2
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask to v2.3.2 (#484)
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.2
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.2 (#485)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency typescript to v5
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v15.2.9
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v15.2.9 (#487)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v15.2.8
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v15.2.8 (#486)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v15.2.9
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v15.2.9 (#488)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update angular-cli monorepo to v16
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v16
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-cloud-storage to v2.9.0
  bq-connector/docai_bq_connector/requirements.txt
  document_ai_warehouse/document_ai_warehouse_processing_python/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-cloud-storage to v2.9.0 (#494)
  bq-connector/docai_bq_connector/requirements.txt
  document_ai_warehouse/document_ai_warehouse_processing_python/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

Add finance page to Enterprise Search Demo Web App
  document-search/main.py
  document-search/templates/finance.html
Owners: @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.121.0
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

Update .OwlBot.yaml
  .github/.OwlBot.yaml
Owners: @GoogleCloudPlatform/ml-apis

Tried creating separate owlbot.yaml files for non-python directories
  cx-content-moderation/.OwlBot.lock.yaml
  cx-content-moderation/.OwlBot.yaml
  document_ai_warehouse/document-ai-warehouse-java-samples/.OwlBot.lock.yaml
  document_ai_warehouse/document-ai-warehouse-java-samples/.OwlBot.yaml
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

Add owlbot.py for go directory
  cx-content-moderation/owlbot.py
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

/apps-script-google-drive @holtskinner @GoogleCloudPlatform/ml-apis
/bq-connector @mservidio @GoogleCloudPlatform/ml-apis
/sql-pdf-python @dojowahi @GoogleCloudPlatform/ml-apis
/document_ai_warehouse/document_ai_warehouse_processing_python @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-json-explorer @kolban-google @GoogleCloudPlatform/ml-apis
/web-app-pix2info-python @PicardParis @holtskinner @GoogleCloudPlatform/ml-apis
/cx-content-moderation @ghchinoy @GoogleCloudPlatform/ml-apis
/form-parser-cde @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-processing-workflows @ffeldhaus @GoogleCloudPlatform/ml-apis

# Community owners
/community/identity-form-autofiller-python @PicardParis @GoogleCloudPlatform/ml-apis
/community/expense-parser-python @jiya-zhang @GoogleCloudPlatform/ml-apis

# Auto-Approve
**/requirements.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/requirements-test.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package-lock.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/pom.xml @yoshi-approver @GoogleCloudPlatform/ml-apis
