Repository GoogleCloudPlatform/document-ai-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/ml-apis, @holtskinner, @mservidio, @dojowahi, @HSbedi87, @kolban-google, @PicardParis, @ghchinoy, @ffeldhaus, @jiya-zhang, @yoshi-approver

chore(deps): update typescript-eslint monorepo to v5.59.0
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.0 (#457)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-cloud-bigquery to v3.10.0
  bq-connector/docai_bq_connector/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency google-cloud-bigquery to v3.10.0 (#458)
  bq-connector/docai_bq_connector/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v15.2.8
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angular monorepo to v15.2.8 (#459)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.119.0
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

Ran `go mod tidy`
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.119.0 (#462)
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.15.12
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v15.2.8
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.15.12 (#461)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update angularmaterial monorepo to v15.2.8 (#460)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency karma-chrome-launcher to v3.2.0
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency karma-chrome-launcher to v3.2.0 (#463)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

Add Generative AI App Builder Document Search Demo
  document-search/.dockerignore
  document-search/Dockerfile
  document-search/README.md
  document-search/main.py
  document-search/requirements.txt
  document-search/static/favicon.ico
  document-search/static/gen-app-builder-logo.svg
  document-search/static/index.css
  document-search/templates/index.html
Owners: @GoogleCloudPlatform/ml-apis, @yoshi-approver

chore(deps): update node.js to v20
  web-app-demo/Dockerfile
Owners: @GoogleCloudPlatform/ml-apis

🦉 Updates from OwlBot post-processor
  document-search/main.py
Owners: @GoogleCloudPlatform/ml-apis

Add Deployed Cloud Run Link
  document-search/README.md
Owners: @GoogleCloudPlatform/ml-apis

Add Generative AI App Builder Document Search Demo (#464)
  document-search/.dockerignore
  document-search/Dockerfile
  document-search/README.md
  document-search/main.py
  document-search/requirements.txt
  document-search/static/favicon.ico
  document-search/static/gen-app-builder-logo.svg
  document-search/static/index.css
  document-search/templates/index.html
Owners: @GoogleCloudPlatform/ml-apis, @yoshi-approver

chore(deps): update node.js to v20 (#465)
  web-app-demo/Dockerfile
Owners: @GoogleCloudPlatform/ml-apis

chore(deps): update dependency eslint to v8.39.0
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency karma to v6.4.2
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.0
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency eslint to v8.39.0 (#467)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency @types/node to v18.16.0 (#466)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency karma to v6.4.2 (#468)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): lock file maintenance (#469)
  web-app-demo/Frontend/package-lock.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency pylint to v2.17.3
  web-app-demo/Backend/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.1
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update typescript-eslint monorepo to v5.59.1 (#471)
  web-app-demo/Frontend/package-lock.json
  web-app-demo/Frontend/package.json
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency pylint to v2.17.3 (#470)
  web-app-demo/Backend/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask to v2.2.4
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask to v2.2.4 (#472)
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask to v2.3.0
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.120.0
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

chore(deps): update dependency flask to v2.3.0 (#473)
  community/identity-form-autofiller-python/src/requirements.txt
  web-app-demo/Backend/requirements.txt
  web-app-pix2info-python/src/requirements.txt
Owners: @yoshi-approver, @GoogleCloudPlatform/ml-apis

fix(deps): update module google.golang.org/api to v0.120.0
  cx-content-moderation/go.mod
  cx-content-moderation/go.sum
Owners: @ghchinoy, @GoogleCloudPlatform/ml-apis

Update Go Formatting workflow
  .github/workflows/go.yaml
Owners: @GoogleCloudPlatform/ml-apis

.github/CODEOWNERS:

# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# @GoogleCloudPlatform/ml-apis are the default owners for changes in this repo
*     @GoogleCloudPlatform/ml-apis

/apps-script-google-drive @holtskinner @GoogleCloudPlatform/ml-apis
/bq-connector @mservidio @GoogleCloudPlatform/ml-apis
/sql-pdf-python @dojowahi @GoogleCloudPlatform/ml-apis
/document_ai_warehouse/document_ai_warehouse_processing_python @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-json-explorer @kolban-google @GoogleCloudPlatform/ml-apis
/web-app-pix2info-python @PicardParis @holtskinner @GoogleCloudPlatform/ml-apis
/cx-content-moderation @ghchinoy @GoogleCloudPlatform/ml-apis
/form-parser-cde @HSbedi87 @GoogleCloudPlatform/ml-apis
/document-processing-workflows @ffeldhaus @GoogleCloudPlatform/ml-apis

# Community owners
/community/identity-form-autofiller-python @PicardParis @GoogleCloudPlatform/ml-apis
/community/expense-parser-python @jiya-zhang @GoogleCloudPlatform/ml-apis

# Auto-Approve
**/requirements.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/requirements-test.txt @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/package-lock.json @yoshi-approver @GoogleCloudPlatform/ml-apis
**/pom.xml @yoshi-approver @GoogleCloudPlatform/ml-apis
